<a href="https://colab.research.google.com/github/MoudiAlhazzaa/Data_field_job_analysis_Mu/blob/main/Another_copy_of_Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/jobs_in_data_2024 (1).csv', sep = ',') #to read file

In [3]:
df # to check and view the dataset

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,work_setting,company_location,company_size,job_category
0,2024,Entry-level,Freelance,Applied Data Scientist,30000,USD,30000,United Kingdom,Remote,United Kingdom,M,Data Science and Research
1,2024,Executive,Full-time,Business Intelligence,230000,USD,230000,United States,In-person,United States,M,BI and Visualization
2,2024,Executive,Full-time,Business Intelligence,176900,USD,176900,United States,In-person,United States,M,BI and Visualization
3,2024,Senior,Full-time,Data Architect,171210,USD,171210,Canada,In-person,Canada,M,Data Architecture and Modeling
4,2024,Senior,Full-time,Data Architect,92190,USD,92190,Canada,In-person,Canada,M,Data Architecture and Modeling
...,...,...,...,...,...,...,...,...,...,...,...,...
14194,2021,Senior,Full-time,Data Specialist,165000,USD,165000,United States,Remote,United States,L,Data Management and Strategy
14195,2020,Senior,Full-time,Data Scientist,412000,USD,412000,United States,Remote,United States,L,Data Science and Research
14196,2021,Mid-level,Full-time,Principal Data Scientist,151000,USD,151000,United States,Remote,United States,L,Data Science and Research
14197,2020,Entry-level,Full-time,Data Scientist,105000,USD,105000,United States,Remote,United States,S,Data Science and Research
14198,2020,Entry-level,Contract,Business Data Analyst,100000,USD,100000,United States,Remote,United States,L,Data Analysis

In [4]:
df.info() # to get summary about dataset
##############

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14199 entries, 0 to 14198
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           14199 non-null  int64
 1   experience_level    14199 non-null  object
 2   employment_type     14199 non-null  object
 3   job_title           14199 non-null  object
 4   salary              14199 non-null  int64
 5   salary_currency     14199 non-null  object
 6   salary_in_usd       14199 non-null  int64
 7   employee_residence  14199 non-null  object
 8   work_setting        14199 non-null  object
 9   company_location    14199 non-null  object
 10  company_size        14199 non-null  object
 11  job_category        14199 non-null  object
dtypes: int64(3), object(9)
memory usage: 1.3+ MB

In [5]:
df.head(10) # show the first 10 rows
# can change the num of rows to display

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,work_setting,company_location,company_size,job_category
0,2024,Entry-level,Freelance,Applied Data Scientist,30000,USD,30000,United Kingdom,Remote,United Kingdom,M,Data Science and Research
1,2024,Executive,Full-time,Business Intelligence,230000,USD,230000,United States,In-person,United States,M,BI and Visualization
2,2024,Executive,Full-time,Business Intelligence,176900,USD,176900,United States,In-person,United States,M,BI and Visualization
3,2024,Senior,Full-time,Data Architect,171210,USD,171210,Canada,In-person,Canada,M,Data Architecture and Modeling
4,2024,Senior,Full-time,Data Architect,92190,USD,92190,Canada,In-person,Canada,M,Data Architecture and Modeling
5,2024,Mid-level,Full-time,Data Science,46203,GBP,57753,United Kingdom,In-person,United Kingdom,M,Data Science and Research
6,2024,Mid-level,Full-time,Data Science,38280,GBP,47850,United Kingdom,In-person,United Kingdom,M,Data Science and Research
7,2024,Entry-level,Full-time,Insight Analyst,50000,USD,50000,United States,Remote,United States,M,Data Analysis
8,2024,Entry-level,Full-time,Insight Analyst,40000,USD,40000,United States,Remote,United States,M,Data Analysis
9,2024,Senior,Full-time,Data Engineer,276000,USD,276000,United States,In-person,United States,M,Data Engineering

In [6]:
df.tail(10) # same head but last rows

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,work_setting,company_location,company_size,job_category
14189,2020,Senior,Full-time,Machine Learning Engineer,40000,EUR,45618,Croatia,Remote,Croatia,S,Machine Learning and AI
14190,2021,Senior,Full-time,Director of Data Science,168000,USD,168000,Japan,In-person,Japan,S,Data Science and Research
14191,2021,Mid-level,Full-time,Data Scientist,160000,SGD,119059,Singapore,Remote,Israel,M,Data Science and Research
14192,2021,Mid-level,Full-time,Applied Machine Learning Scientist,423000,USD,423000,United States,Hybrid,United States,L,Machine Learning and AI
14193,2021,Mid-level,Full-time,Data Engineer,24000,EUR,28369,Malta,Hybrid,Malta,L,Data Engineering
14194,2021,Senior,Full-time,Data Specialist,165000,USD,165000,United States,Remote,United States,L,Data Management and Strategy
14195,2020,Senior,Full-time,Data Scientist,412000,USD,412000,United States,Remote,United States,L,Data Science and Research
14196,2021,Mid-level,Full-time,Principal Data Scientist,151000,USD,151000,United States,Remote,United States,L,Data Science and Research
14197,2020,Entry-level,Full-time,Data Scientist,105000,USD,105000,United States,Remote,United States,S,Data Science and Research
14198,2020,Entry-level,Contract,Business Data Analyst,100000,USD,100000,United States,Remote,United States,L,Data Analysis

In [7]:
df.sample(3) # 3 randoms rows

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,work_setting,company_location,company_size,job_category
3521,2024,Senior,Full-time,Machine Learning Engineer,216700,USD,216700,United States,Remote,United States,M,Machine Learning and AI
6794,2023,Mid-level,Full-time,Data Scientist,204500,USD,204500,United States,In-person,United States,M,Data Science and Research
13823,2022,Senior,Full-time,Data Engineer,130000,USD,130000,United States,Remote,United States,M,Data Engineering

In [8]:
df.columns # gives me the columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'work_setting', 'company_location', 'company_size', 'job_category'],
      dtype='object')

In [9]:
df.index # index labels of the rows

RangeIndex(start=0, stop=14199, step=1)

In [10]:
df.values ###########

array([[2024, 'Entry-level', 'Freelance', ..., 'United Kingdom', 'M',
        'Data Science and Research'],
       [2024, 'Executive', 'Full-time', ..., 'United States', 'M',
        'BI and Visualization'],
       [2024, 'Executive', 'Full-time', ..., 'United States', 'M',
        'BI and Visualization'],
       ...,
       [2021, 'Mid-level', 'Full-time', ..., 'United States', 'L',
        'Data Science and Research'],
       [2020, 'Entry-level', 'Full-time', ..., 'United States', 'S',
        'Data Science and Research'],
       [2020, 'Entry-level', 'Contract', ..., 'United States', 'L',
        'Data Analysis']], dtype=object)

In [11]:
df.dtypes # evey column's type

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
work_setting          object
company_location      object
company_size          object
job_category          object
dtype: object

In [12]:
df.describe() # summary statistics of the numerical columns

          work_year         salary  salary_in_usd
count  14199.000000   14199.000000    14199.00000
mean    2023.110501  149057.514262   149472.04944
std        0.686929   64932.044143    64379.26016
min     2020.000000   14000.000000    15000.00000
25%     2023.000000  102150.000000   104000.00000
50%     2023.000000  142000.000000   142000.00000
75%     2024.000000  185900.000000   185900.00000
max     2024.000000  450000.000000   450000.00000

In [13]:
sal = df['salary'] # Access specific columns
sal

0         30000
1        230000
2        176900
3        171210
4         92190
          ...
14194    165000
14195    412000
14196    151000
14197    105000
14198    100000
Name: salary, Length: 14199, dtype: int64

In [22]:
miss_values = df.isnull().sum() # to check if there is missing values
miss_values

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
work_setting          0
company_location      0
company_size          0
job_category          0
dtype: int64

In [24]:
num_rows, num_columns = df.shape # num of cols and rows
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 14199
Number of columns: 12

In [18]:
correlation = df.corr() ############
print(correlation)

               work_year    salary  salary_in_usd
work_year       1.000000  0.073915       0.077343
salary          0.073915  1.000000       0.993838
salary_in_usd   0.077343  0.993838       1.000000

<ipython-input-18-049c5d4b21b8>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation = df.corr()